header {
  text-align: center;
}
header img {
  width: 75px;
  height: 75px;
}
main {
  text-align: center;
}
.column {
  width: 32%;
  display: inline-block;
  vertical-align: middle;
}
.gsq {
  background-color: rgba(0, 0, 0, 1.0);
  height: 125px;
  width: 125px;
  display: inline-block;
  margin-top: 3.5px;
  padding: 0px;
  font-size: 100px;
  line-height: 125px;
  vertical-align: middle;
  color: rgba(0, 255, 0, 1.0);
  border-radius: 15%
}
footer {
  text-align: center;
}
.gsq-clicked {
  background-color: rgba(0, 255, 0, 1.0);
  height: 125px;
  width: 125px;
  display: inline-block;
  margin-top: 3.5px;
  padding: 0px;
}
